:root{
    --Grid-columns: 12;
    --Grid-columnSpacing: 24px;
    --Grid-rowSpacing:24px;
}

.layout_dashboard{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    ._gridCard {
        box-sizing: border-box;
        min-width: 0;
        flex-grow: 0;
        flex-basis: auto;
        padding: calc(var(--Grid-rowSpacing) / 2) calc(var(--Grid-columnSpacing) / 2);
    }
}