.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.alerts{
    position: absolute;
    right: 0;
    top: 0;
    margin: 10px;
    transition: ease-in 0.5s !important;
}

.custom-alert{
    opacity: 1;
    transform: translateY(0);
    transition: opacity ease, transform 0.4s ease;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo>img{
    max-width: 150px;
}

.title{
    font-size: 30px !important;
}

.itemLista{
    display: flex;
    align-items: start !important;
    margin: 10px 0 !important;
}

.textoLista{
    margin: 0 !important;
}

.listitem{
    margin: 0 !important;
}

.loginCard{
    padding: 2rem;
    transition: ease-in 0.5s !important;
    display: flex;
    gap: 20px;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid rgba(194, 201, 214, 0.4);
    box-shadow: rgba(9, 11, 17, 0.05) 0px 5px 15px 0px, rgba(19, 23, 32, 0.05) 0px 15px 35px -5px;
}

.input{
    margin-top: 5px !important;
}

.titlePass{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forgot{
    color: #1976d2;
    font-weight: 600;
    font-size: 14px;
}

.footer{
    bottom: 0;
    width: 100%; /* Hace que el footer ocupe todo el ancho de la página */
    text-align: center;
}

.footer2{
    margin: 10px 0;
    display: flex;
    justify-content: space-between; /* Distribuye el logo y el texto en extremos opuestos */
    align-items: center;
}



