._swiperCard{
    height: 100%;
    width: 100%;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: rgba(145, 158, 171, 0.2) 0px 0px 2px 0px, rgba(145, 158, 171, 0.12) 0px 12px 24px -4px;
    background-color: black;
    overflow: hidden;
    position: relative;
    color: #1c252e;

    .slideContent{
        position: relative;
        width: 100%;
        height: 100%;
        background: url('/src/assets/jpg/slide1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);

        .slideText{
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            bottom: 0;
            z-index: 9;
            color: white;
            gap: 8px;
            padding: 24px;
        }
    }
}

.swiper-button-prev, .swiper-button-next {
    position: absolute;
    top: 10px; /* Ajusta esta propiedad para posicionarlos más arriba o abajo */
    right: 10px;
    z-index: 10;
    color: white;
    margin-top: unset;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: 5px;
    font-size: 20px !important;
    &::after{
        font-size: 16px;
    }
}

.swiper-button-prev {
    right: 40px; /* Para que el botón de "prev" esté a la izquierda del de "next" */
    left: unset;
}
  
.swiper-button-next {
    right: 10px; /* Alinea el botón de "next" */
}

.swiper-pagination{
    position: absolute;
    top: 10px !important;
    left: 10px !important;
    bottom: unset !important;
    text-align: left;
}

.swiper-pagination-bullet-active{
    background: #5be49b;
}