*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: "Public Sans";
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}